.comment-session{
  width: 100%;
 
  padding: 10px;
  
}

.comment-box {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
}

.comment-item {

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.comment-item .comment-user {
  font-weight: bold;
  margin-right: 8px;
}

.comment-item .comment-content {
  color: #333; 
}
.cursor{
  
   cursor: pointer;
   color: #fff;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
  
 }
 .cursor i{
  margin-right: 4px;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;

}

.newcomment {
  margin-top: 20px;
}

textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  display: flex;
  align-items: center;
  background-color: #bd0887;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;

}

button:hover {
  background-color: #bd0887;
}
.com{
  margin-bottom: 10px;
  position: relative;
}
.com textarea {
  width: 80%;
  margin-bottom: 10px;
} 
.com i.fa-solid.fa-trash{
  position: absolute;
  
  right: 10px;

cursor: pointer;
}
.cursor:hover{
  color: red;
}


.red{
  color: red;
}
i.fa-solid.fa-reply{
  cursor: pointer;

}
i.fa-solid.fa-trash{
  margin-left: 3px;
  cursor: pointer;
}
i.fa-regular.fa-pen-to-square{
  cursor: pointer;
  margin-left: 5px;
}