<div class="comment-box"><div class="commentsection">
        @for(comment of comments;track comment.id){
            <div class="comment-item">
                <span class="comment-user">{{comment.user.name}}:</span>
                <span class="comment-content">{{comment.content}}</span>
                <i class="fa-solid fa-trash"></i>
              </div>
        }
   <div class="newcomment">
    <form [formGroup]="commentForm">
        <textarea type="text" placeholder="Add a comment" required formControlName="content"></textarea>
        <button (click)="addComment()" type="submit">Add Comment</button>
    </form>
    </div>
</div>
</div>