.comment-box {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.commentsection {
}

.comment {
  background-color: #f0f0f0;
}
.comment-item {
  margin-bottom: 10px;
}

.comment-user {
  font-weight: bold;
}

.comment-content {
  margin-left: 10px;
  color: #333; 
}


.newcomment {
  margin-top: 20px;
}

textarea {
  width: 80%;
  margin-bottom: 10px;
}

button {
  background-color: #bd0887;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #bd0887;
}
.com{
  margin-bottom: 10px;
  position: relative;
}
.com textarea {
  width: 80%;
  margin-bottom: 10px;
} 
.com i.fa-solid.fa-trash{
  position: absolute;
  
  right: 10px;

cursor: pointer;
}