<div class="comment-session">
    <div class="comment-list">
        @for(comment of comments;track comment.id){
            <div class="comment-item">
                <span class="comment-user">{{comment.name}}:</span>
                <span class="comment-content">{{comment.content}}</span>
                <div class="cursor"  (click)="likeComment(comment.commentid)">
                            <i  class="fa-solid fa-heart" [ngClass]="comment.isLiked ? 'red' : ''" ></i>
                        </div>
                        <div class="reply" (click)="replycomment()">
                        <i class="fa-solid fa-reply"></i>
                    </div >
                    <div class="delete" (click)="deletecomment()">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div class="edit" (click)="editcomment()">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </div>
              </div>
              
        }
   <div class="newcomment">
    <form [formGroup]="commentForm">
        <textarea type="text" placeholder="Add a comment" required formControlName="content"></textarea>
        <button (click)="addComment()" type="submit">Add Comment</button>
    </form>
    </div>
</div>
</div>