<div class="comment-session">
    <div class="comment-list">
        @for(comment of comments;track comment.id){
            <div class="comment-item">
                <span class="comment-user">{{comment.name}}:</span>
                <span class="comment-content">{{comment.content}}</span>
                <div class="cursor"  (click)="likeComment(comment.commentid)">
                            <i  class="fa-solid fa-heart" [ngClass]="comment.isLiked ? 'red' : ''" ></i>
                        </div>
                        <i class="fa-solid fa-reply" (click)="replycomment()"></i>
                        {{comment.id}}
                        @if (userId == comment.userid) {
                            <i class="fa-solid fa-trash" (click)="deletecomment(comment.commentid)"></i>
                            <i class="fa-regular fa-pen-to-square" (click)="editcomment(comment)"></i>
                        }
                   
              </div>
              
        }
   <div class="newcomment">
    <form [formGroup]="commentForm">
        <textarea type="text" placeholder="Add a comment" required formControlName="content"></textarea>
        @if (!isEdit) {
            <button (click)="addComment()" type="submit">Add Comment</button>
        }@else {
            <button (click)="onEdit()" type="submit">Edit Comment</button>
        }
    </form>
    </div>
</div>
</div>