<div class="nav">
    <div class="container">
        <!-- <div class="left">
           <img src="../../../assets/logo.png" alt="">
        </div> -->
        <div class="left">
            <span>Blogify</span>
        </div>
        <div class="right">
            @if(username){
                <img class="profileicon"  [src]="userProfile" alt="user2">
           

                <p (click)="profileDetails(userId)">{{username}}</p>

                <span (click)="logout()">Logout</span>
            }@else {
                <span [routerLink]="'/login'" href="">Login</span>
                <span  [routerLink]="'/register'" href="">Sign Up</span>
            }
        
        </div>
    </div>
   
</div>
