<div class="bg">
    <div class="aboutcontainer">
    <div class="title">
        <h2>About Us</h2>
    </div>
    <div class="aboutcontent">
        <p>Welcome to our blog platform! We are a passionate team dedicated to providing a platform for sharing thoughts,ideas,and stories.</p>
        ,<p>Our Mission is to create a community where individuals can express themselves,connect with others, and inspire changes.</p>
        <p>Feel free to explore the diverse range of blogs created by our users and join us in this exciting journey of creativity and expression.</p>
    </div>
    <footer>
        <p>Contact us:infoexample.com</p>
    </footer>
</div>
</div>
