*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}
.about{
    width: 100%;
    height: 850px;
    position: relative;

}
.image-container{
    width: 100%;
    background-image: url('../../assets/flat-lay-desk-with-apple-keyboard.jpg');
    background-size: cover;
    opacity: 0.6;
    height: 100%;

}

.abouttext{
   
    width: 950px;
 
   
}
.main{
    position: absolute;
    top: 20%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: space-around;
}
.abouttext h1{
    color: rgb(227, 13, 13);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
   
}
.abouttext p{
    color:black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    
}
.button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}