<section class="about">

    <div class="main">
        <img src="../../assets/2665996.jpg" alt="">
        <div class="abouttext">
            <h1>Contact Us</h1>
            <p>Have questions,suggestions,or just want to get in touch?Feel free to contact us using the information below: </p>
            <ul>
                <li>Email: infoexample.com</li>
                <li>Phone: +1 (123)  456-7890</li>
                <li>Address: 12 Main street,City,Country</li>
            </ul>
        </div>
    </div>
</section>