<div class="home">
    <div class="blogcontainer">
    @for(blog of blogs;track blog.id){
        <div class="blog-box">
            <div class="blog">
                <img class="profileicon" [routerLink]="'/profile/'+blog.user.id"  [src]="'http://localhost:8080/api/v1/auth/getImage/'+blog.user.id" alt="user2">

                <div class="blogdetails">
                    <div class="blogInfo">
                    <span>{{blog.title}}</span>
                    <span class="date">{{blog.creationdate}}</span>
                </div>
                    <p class="content">{{blog.content}}</p>
                    <a (click)="goToBlogDetails(blog.id)" class="readmore">Read More...</a>
                </div>
                <img class="blogimage" [src]="'http://localhost:8080/api/v1/post/getImage/'+blog.id" alt="">
            </div>
        </div>
    }
</div>
<div class="middle">
    <div class="searchbar">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Go</button>
    </div>
@for(community of nocommunityList;track community.id){
<div class="boxes">
<a [routerLink]="'/community/'+community.communityid">
  <img src="../../../assets/community4.webp">
</a>
<div class="describe" >{{community.communityname}}</div>
</div>
}
</div>
<div class="sidebar">
    
<div class="sidebuttons">
    <a [routerLink]="'/createblog'" class="createbutton">Create</a>
    <a [routerLink]="'/about'" class="button">About Us</a>
    <a [routerLink]="'/contact'" class="button">Contact Us</a>
    @if(communityCreationSuccess){
        @if(errorMessage){
            {{errorMessage}}
        }
    }
    <a class="combutton" (click)="togglecreate()">Create Community</a>

 @if(showcreate){
    <div class="createbar">
        <form [formGroup]="communityForm" class="createcommunity" >
        <input type="text" placeholder="Name"required formControlName="communityname">
        <textarea type="text" placeholder="Description" required formControlName="description" ></textarea>
        <input type="file" name="image"  (change)="selectImage($event)">
        <button (click)="onCreate()" type="submit">Create</button>
    </form>
    </div>
 }
</div>
@for(community of communityList;track community.id){
<div class="box">
<a [routerLink]="'/community/'+community.communityid">
  <img src="../../../assets/community4.webp">
</a>
<div class="desc" >{{community.communityname}}</div>
</div>
}
</div>
</div>