*{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.home{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.blogcontainer{
    max-width: 1000px;
    padding-left: 20px;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.blogbox{
    margin-bottom: 20px;
}
.blog{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
}
.profileicon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.blogdetails{
    flex: 1;
}
.title{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.content{
    white-space:inherit; 
    width: 600px;
    height: 100px;
    overflow: hidden;
    font-size: large;
    color:#555;
    margin-bottom: 10px;
    text-overflow: ellipsis
}
.readmore{
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
.blogimage{
    width: 200px;
    height: 200px;
}
.searchcont{
    max-width: 500px;
    padding-right: 20px;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
@media screen {
    .searchcont .cont{
        float: none;
      
        height: 40px;
    }
    .searchcont input[type=text] .searchcont .cont{
        float: none;
        display: block;
        text-align: left;
        height: 40px;
        
        margin: 0;
        padding: 14px;
    }
    .searchcont input[type=text]{
        font-size: large;
        border: 1px solid #ccc;
        width: 400px;
        height: 40px;
    }
    .searchcont button[type=submit]{
        font-size: large;
        color: #555;
        padding-right: 20px;
        border: 1px solid #ccc;
        width: 85px;
        height: 40px;
    }
}