@if(users){
<div class="box1">
    <div class="profilecontainer">
        <div class="image">
            <img class="profilepic" [src]="profilePic" alt="">
            <label  class="plus">+
                <input type="file" name="" id="" style="display: none;" (change)="uploadImage($event)">
            </label>
        </div>
    
    <h2>{{users.name}}</h2>
    <p>Email:{{users.email}}</p>
    <p>Bio:{{users.bio}}</p>
</div>

</div>
}
<div class="profile">
    <div class="posts">

        @for (item of blogDetails; track $index) {
            @if(item){
                <app-blogdetails [blogDetails]="item"></app-blogdetails>
            }
        
        }
    </div>
<div class="sidebar">
    <div class="content">
        <h2>Publish your passions, your way</h2>
        <p>Create a unique and beautiful blog easily.</p>
    </div>
<div class="sidebuttons">
    <a [routerLink]="'/createblog'" class="createbutton">Create</a>
</div>

</div>
</div>